// 顏色
$primary-color: #aa0601;
$secondary-color: #650300;
$bg-color: #fbf2f2;
$dark-color: #000;
$light-color: #fff;

// 字型大小
$font-sm: 14px;
$font-base: 16px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 32px;
$font-xxl: 48px;
